
{% from "macros/nav.html" import render_nav %}
{% from "macros/components/nav-small.html" import render_nav_small %}

<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/css/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — Lektor Experiment</title>
<body>
  <header>
    <h1>Lektor Experiment</h1>

    {{ render_nav(this) }}

  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>

  </footer>


  {{ render_nav_small(this) }}

</body>
